div {
/*    user-select: none;*/
}
*::-webkit-scrollbar {
    display: none;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
@media (width < 700px) {
  .pc {
    display: none!important;
  }
}
@media (width >= 700px) {
  .mobile {
    display: none!important;
  }
}